// Define variables for your color scheme

// For example:
$red: #FD1015;
$blue: #167FFB;
$yellow: #FFDF2D;
$black: #000000;
$white: #FFFFFF;
$orange: #E67E22;
$green: #81D2C7;
$gray: #0E0000;
$light-gray: #F7F7F7;
