<%= render 'navbars/home_navbar' %>
<%= render 'shared/avatar' %>
<a class="btn btn-yellow" href="#">Add stories</a>
<a class="btn btn-white" href="#">View analytics</a>
<div class="container">


</div>

<%= render 'shared/footer' %>


