.question {
  margin-top: 20px;
  padding: 5px;
  // width: 90%;
  h1 {
    background-color: $yellow;
    padding:5px;
    font-size: 18px;
    font-family: $anton-font;
    width: 100px;
    text-align: center;
  }
  p {
    color: $gray;
    font-size: 14px;
    font-family: $open-sans-font;
    background-color: $light-gray;
    padding: 10px;
  }
}
