<div class="analytics-card-yellow">
  <div class="analytics-card-content">
    <h1>25'000 €</h1>
    <h2>revenue</h2>
  </div>
  <div class="information-icon">
    <%= image_tag 'information.png', class: "information-icon" %>
  </div>
</div>

<div class="analytics-card-grey">
  <div class="analytics-card-content-grey">
    <h1>640 €</h1>
    <h2>average daily rate</h2>
  </div>
  <div class="information-icon">
    <%= image_tag 'information.png', class: "information-icon" %>
  </div>
</div>
