<div class="card-show-footer">
  <%= link_to listing_photos_path(@listing) do %>
    <%= image_tag 'check_mark_black.png', class: "check-mark-icon" %>
  <% end %>
  <%= image_tag 'share-000000.png', class: "share-icon" %>
</div>
