<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('http://res.cloudinary.com/gamemonsters/image/upload/v1552204820/nhwrioglsnysvwvy2abg.jpg');">
  <div class="card-description">
    <h2>Chalet Rouge</h2>
    <p>Morzine</p>
  </div>
  <div class="card-share-listing"><!--Hamburger menu-->
</div>
  <a class="card-link" href="#" ></a>
</div>



