 <div class="card-show-footer">
    <%= link_to faq_path do %>
      <%= image_tag 'check_mark_black.png', class: "check-mark-icon" %>
    <% end %>
    <%= link_to faq_path do %>
      <%= image_tag 'share-000000.png', class: "share-icon" %>
    <% end %>
  </div>
