<div class="card-show-footer">

  <%= link_to faq_path do %>
    <%= image_tag 'plus_button_yellow.png', class: "plus-button-icon" %>
  <% end %>
  <%= link_to faq_path do %>
    <%= image_tag 'share-000000.png', class: "share-icon" %>
  <% end %>


</div>


