<div id="stories_header_main_container">
  <%= image_tag 'book_stories.png', id: "book-icon" %>
  <h4>Help guests experience your home.</h4>
  <p>Share your best stories. Is there a meaning to this painting? What is your favorite coffee corner? What should one be careful about? </p>
</div>


