<%= render 'navbars/back_navbar' %>

<div class="container">
  <div>
    <h1>QUESTION 1</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, officiis, fugit? Ipsam voluptatem mollitia perspiciatis quod excepturi modi ex accusamus tenetur amet impedit deleniti quas iste provident iusto!</p>
  </div>
  <div>
    <h1>QUESTION 2</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, officiis, fugit? Ipsam voluptatem mollitia perspiciatis quod excepturi modi ex accusamus tenetur amet impedit deleniti quas iste provident iusto!</p>
  </div>
  <div>
    <h1>QUESTION 3</h1>
    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Placeat, officiis, fugit? Ipsam voluptatem mollitia perspiciatis quod excepturi modi ex accusamus tenetur amet impedit deleniti quas iste provident iusto!</p>
  </div>
  <div class="btn-yellow" style="width: 100%; text-align: center;">
    <%= link_to 'CONTACT US!', '#', style: 'text-decoration: none color: black;'%>
  </div>
</div>

<%= render 'shared/footer' %>



