<%= render 'navbars/home_navbar' %>
<div class="container">

<%= link_to 'Sign Out BITCH!', destroy_user_session_path, method: :delete, class: 'btn btn-danger' %>
</div>

<%= render 'shared/footer' %>



