<%= render 'navbars/home_navbar' %>
<div class="container">


</div>
<<<<<<< HEAD:app/views/pages/faq.html.erb
=======
<%= render 'shared/footer' %>

>>>>>>> 14601a733d422302dc36600a90a02ea9d53bbd34:app/views/pages/home.html.erb

