<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'emerald_logo_white.png' %>
  </a>

  <div class="navbar-wagon-item">
    <h1 class="m-0 p-0">MY HOMES</h1>
  </div>

  <div class="navbar-wagon-right">
    <a href="#" class="navbar-wagon-item navbar-wagon-link m-0 p-0">
    <%= image_tag 'e-mail-envelope-white.png' %>
    </a>
  </div>
</div>
