<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'emerald_logo_white_cropped.png' %>
  </a>

  <div class="navbar-wagon-item">
    <h1><%= @title %></h1>
  </div>

  <div class="navbar-wagon-right navbar-wagon-item navbar-wagon-link m-0 p-0">
    <%= link_to messages_path do %>
    <%= image_tag 'e-mail-envelope-white.png' %>
    <% end %>
  </div>
</div>
