<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <a class="navbar-brand" href="#">
  </a>
    <% link_to "#" do %>
  <a class="navbar-wagon-item">

    </a>
  <% end %>
  </div>
</div>

<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'favicon.png' %>

  </a>

  <!-- Right Navigation -->
  <div class="navbar-wagon-right hidden-xs hidden-sm">
    <a href="" class="navbar-wagon-item navbar-wagon-link">
    <i class="far fa-envelope" style=" font-size: 30px;"></i>
    </a>
  </div>
</div>
