<div class="navbar-wagon">
  <!-- Logo -->
  <a href="/" class="navbar-wagon-brand">
    <%= image_tag 'favicon.png' %>
  </a>

  <div class="navbar-wagon-item">
    <h1 style="font-family: 'Anton', sans-serif; font-size: 35px; color: black; text-align: center;"> MY HOMES</h1>
  </div>

  <div class="navbar-wagon-right">
    <a href="#" class="navbar-wagon-item navbar-wagon-link">
    <i class="far fa-envelope" style=" font-size: 40px; color: black;"></i>
    </a>
  </div>
</div>
