.analytics-card-yellow {
  background-color: #FFDE2D;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.15);
  width: 347px;
  height: 122px;
  margin-right: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.information-icon {
  height: 16px;
  width: 16px;
  position: absolute;
  right: 5px;
  top: 5px;
}

.analytics-card-content h1 {
  font-size: 36px;
  font-family: $anton-font;
  letter-spacing: 2px;
  padding-top: 15px;
}

.analytics-card-content h2 {
  font-size: 20px;
  font-family: $open-sans-font;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-weight: lighter;
  color: rgba(0, 0, 0, 0.69);
}







