.post-btn {
  padding: 10px 40px;
  border: none;
  font-family: $anton-font;
  letter-spacing: 0.05em;
  font-size: 14px;
  background-color: $yellow;
  text-align: right;
}

.remove-submit-styling {
  background: none;
  border: none;
}
