.inbox {
  padding: 10px 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

}
.hidden {
  display: none !important;
}
a {
    text-decoration: none;
  }
  a:-webkit-any-link {
    text-decoration: none;
  }
.inbox-card {
  border: 1px solid $light-gray;
  height: 90px;
  padding: 5px;
  display: flex;
  position: relative;
  width: 100%;
  font-family: $open-sans-font;
  color: $black;
  margin: 5px 0;
  h4 {
    font-size: 15px;
    margin-top: 5px;

  }
  p {
    font-size: 10px;
    opacity: 0.7;
    margin-bottom: 8px;
    text-align: right;
  }
  .attch {
    width: 20px;
    height: 20px;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .inbox-message {
    flex: 1 1 auto;
    padding: 10px;
    left: 10px;
  }
}
.message-body {
  height:100px;
  display: flex;
  flex-flow: nowrap column;
  flex: 1 1 auto;
  position: relative;
}
