.inbox {
  padding: 10px 15px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;

}
a {
    text-decoration: none;
  }
  a:-webkit-any-link {
    text-decoration: none;
  }
.inbox-card {
  border: 1px solid $light-gray;
  height: 100px;
  padding: 5px;
  display: flex;
  position: relative;
  width: 100%;
  font-family: $open-sans-font;
  color: $black;
  margin: 5px 0;

  .unread {
    font-weight: 700;
    background-color: $white;
    border: 1px solid $gray;
  }
  .read {
    font-weight: 400;
    background-color: $light-gray;
  }
  h4 {
    font-size: 12px;

  }
  p {
    font-size: 9px;
    opacity: 0.7;
    margin-bottom: 8px
  }
  .attch {
    width: 20px;
    height: 20px;
    margin: 5px;
    position: absolute;
    top: 10px;
    right: 10px;
  }
  .inbox-message {
    // flex: 1 1 auto;
    padding: 0 10px;
    position: absolute;

    bottom: 10px;
  }
}
.message-body {
  height:100px;
  display: flex;
  flex-flow: nowrap column;
  flex: 1 1 auto;
  position: relative;

}
.inbox-avatar {
    height: 60px;
    width: 60px;
    border-radius: 50%;
    margin: 5px;
    margin-right: 5px
  }

  .filter-bar {
    display: flex;
    border: 0.5px solid $gray;
    img {
      margin: 5px;
      height: 40px;
    }
  }
.inbox-filter-menu {
  // height: calc(100vh - 180px);
  display: flex;
  margin: 0 9px;
  flex-flow: row wrap;
  border: 0.5px solid $gray;
}
.inbox-filter-cat {
  height: 50px;
  padding: 5px;
  width: 100%;
  border-bottom: 0.5px solid $light-gray;
  span {
    font-size: 12px;
  }
}


