.message-container {
  margin: 10px;
  padding: 10px;
  border: 1px solid $gray;
}


.message-title {
  margin: 5px;
  padding: 10px;
  display: flex;
  h4 {
    font-weight: 700;
    padding-left: 15px;
    text-decoration: underline;
    font-size: 18px;
    padding-top: 20px;
  }
}

.message-content {
  margin: 10px;
  padding: 5px;
}

.message-filters {
  display: flex;
  justify-content: center;
  flex-flow: wrap row;
}

.property-filter {
  padding: 5px;
  background-color: $yellow;
  margin: 5px;
  border-radius: 5px;
}

.doc-filter {
  padding: 5px;
  border-radius: 5px;
  background-color: #81D2C7;
  margin: 5px;
}
