.header_main_container {
  position: relative;
  display: flex;
  padding: 15px;
  border: 1px solid #light-gray;
  box-sizing: border-box;
  box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.03)
}


.header_left_container {
  flex-grow: 1;
  h4 {
    font-family: $open-sans-font;
    font-weight: 700;
    font-size: 14px;
    line-height: 1em;
  }
  h5 {
    font-family: $open-sans-font;
    font-weight: 400;
    font-size: 14px;
    color: $gray;
    line-height: 0.3em;
  }
}

.header_avatar {
  display:flex;
  margin-bottom: 0.7em;
  padding-left: 0.3em;
}



.header_right_container {
  display: block;
  flex-grow: 2;
  padding-right: 0.4em;
}

.header_right_top_container {
  display: flex;
  margin-top: 0.3em;
  padding-right: 1.3em;
  padding-left: 1.3em;
  h2 {
    font-family: $open-sans-font;
    font-weight: 700;
    font-size: 30px;
    color: $black;
    text-align: right;
    line-height: 0.7em;

  }
  h5 {
    font-family: $open-sans-font;
    font-weight: 400;
    font-size: 14px;
    color: $black;
    text-align: right;
    line-height: 0.7em;

  }
}

.ellipsis {
  position: absolute;
  top: 19px;
  right: 10px;
}

.fa-ellipsis-v {
  font-size: 20px;
}

.header_right_top_left_container {
  flex-grow: 1;
}

.header_right_top_right_container {
  flex-grow: 1;
}

.header_right_bottom_container {
  justify-content: flex-end;
  align-items:center;
  margin-top: 0.6em;
  display: flex;
}

.header_button {
  padding-right: 0.3em;
}
